body{

    font-family: 'Oswald', sans-serif;

    margin: 0;
    padding: 0%;
    

}


h1{
    color: rgb(230, 62, 62);

    font-size: 50px;
}


.one{

    color:rgb(55, 55, 116);
}



.half-width{

width: 50%;
float: left;

margin-left: 5%;





}



.sec-half-width img{

    width: 40%;
    margin-top: 5%;
    margin-left: 5% ;
}




.top{

    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    
    
    }


    section{

      height: 500px;


    }






    h4{

        font-style:italic;
        color: rgb(47, 47, 206);
        text-shadow: aqua;
    }





    .first-link{

        color: rgb(117, 23, 67);
        font-weight: bold;
        text-decoration: none;
        font-size: large;
        border-radius: 5px;
        background-image: linear-gradient(rgb(106, 106, 192),tomato);
        padding: 5px 20px;
    }

   


    .whatmeth{

       margin-top: 50px;
       margin-left: 5%;
     

    }



    .mid{
   margin-left: 5%;
   margin-top: 150px;
   text-align: left;

    }



   


   exp-h3{
       font-size: 50px;
       
   }


    p{
        color: dimgray;
    }


    .f{

     background-image: url(image/dream-bg.png);
     background-repeat: no-repeat;
     background-position: right;
    }


    .netflix{


      width: 38%;
      float: left;
      margin-top: 100px;
      margin-left: 10%;

      box-shadow: violet 10px 10px 40px;
      padding-left: 10px;
      height: 95%;

      border-left: 7px solid;
      border-image:linear-gradient(lightsalmon,tomato);
      border-image-slice: 1;
      background-color: black;
    }

    .Crunchyroll{

        width: 38%;
        float: right;
        margin-top: 100px;
        margin-right: 10%;
        box-shadow: violet 10px 10px 40px;
        padding-left: 10px;
        height: 95%;


        border-left: 7px solid;
        border-image:linear-gradient(180deg,rgb(58, 58, 119),#6e0669);
        border-image-slice: 1;
        background-color: black;
    }




h5{

   color: orange;
    font-size: 30px;

}


.n-vs-c{

  text-align: center;
  font-size: 60px;

}


.blank{
    font-size: 0%;
}

.exp{
   background-image: url(image/exp-bg.png);
   background-repeat: no-repeat;
   background-position: left;
   
}

h3{
    color: violet;
    font-size: 50px;
}